.topbar{ 
  z-index: 100;    
  width: 100%;    
  height: 58px;  
  background-color: #1e7ebe;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.top-left{  float: left;}
.top-right{color: #fff; }

.user-info{float: right; margin: 0; }
.userRight{float: right;}

.menuleft.ui-menubar .ui-menubar-root-list>.ui-menuitem:last-child{display:none;}
.menuleft.ui-menu .ui-menuitem-link .ui-menuitem-icon{width:24px;}
.menuleft.ui-menubar .ui-menubar-root-list>.ui-menuitem a{padding:1.1em 5px 1.1em 0px !important;}

.header-style {
  color: white;
  font-size:  24px;
  padding: 10px;
  text-decoration: underline;
}
